html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: rgb(237,237,237);
}
*,*:before, *:after {
	box-sizing: inherit;
}


body {
	background-color: rgb(92,141,183);
}

input:focus{
	border-color:rgb(66,113,154);
outline-style:none;
background-color:pink;
	box-shadow: none;
	color:white;
	font-size: 14px;
	font-family: verdana;


	}


input, select, textarea { 
	border-color: rgb(237,237,237);
	background:rgb(92,141,183);
	border-style: solid;
	width: 250px;
	padding: 10px;
	color:white;
	font-size: 15px;
	font-family: verdana;


}



}
#fname, #lname, #cat, #gadget, #drink, #power, #weapon, #phone, #email { 
	width: 250px;
	border-color: solid rgb(237,237,237);
}

#country, #occupation, #talent {
	width:250px;

}

#bio, #aff, #comment {
	width: 250px;
	padding:60px;
	

}

select {
	color:#fff;
}

form {
	display: flex;
	justify-content: center;
	width:940px;
	margin:auto;

}

label {
	display: block;
padding-top: 20px;
padding-bottom: 5px;
}

div {margin: 40px;}

::placeholder { 
	color:rgb(77,107,130);
	font-family: arial; 
	font-style: italic;
	font-weight: bold;
	font-size: 12px;

}


